body {
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;
  }

h1 {
  margin: 0;
}
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

/* style of footer */
  footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
    background-color: white;
  }

  button {
    background-color: white;
    border: none;
    border-right: solid black 1px
  }

  footer img {
    max-width: 55px;
    justify-self: center;
  }

  img[alt="profile_icon"]{
    border-left: 1px black solid;
  }

/* index.html styling */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh
}

#right img, #left img {
  max-height: 526px;
  margin-top: 100%;
}

#left {
  background-color: #6adef4;
  height: 100vh;
}

#right {
  background-color: #83c44e;
  height: 100vh;
}

#left p, #right p {
  top: 450px;
}

#left p {
  color: white;
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  left: 12%;
}

#right p {
  color: white;
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  left: 53%;
}

a {
  text-decoration: none;
}
  
#frontpage_footer img {
  grid-column: 2/3;
  background-color: white;
  border-radius: 19%;
  margin-bottom: 1%;
}
#frontpage_footer {
border-top: 0;
}

/*styling of login.html*/

header h1{
  padding: 13vh 0px;
  margin: 0;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  color: black;
  text-align: center;
  font-size: 35px;

}

.opret {
  background-color: #81ff92a6;
  -webkit-transition: height .5s;
}

.opret.clicked {
  height: 100vh;
}

h2 {
  text-align: center;
}

h3 {
  margin-left: 3%;
}

input {
  margin: 0 6%;
  font-size: 24px;
  width: 85%;
}

#login_button a {
  border: solid black 1px;
  text-align: center;
  font-size: 50px;
  background-color: #6e7efa70;
  color: white;
  padding-left: 0;
  padding: 8%;
  border-radius: 5%;
}

input a {
  padding-left: 60%;
}

input {
  margin-bottom: 1%;
}

#login_button {
  padding: 28%;
}

#login a {
  padding-left: 50%;
}

/* styling of opretbruger */ 
#opret_bruger {
    background-color:#81ff9238;
    height: 100vh;
}

#opret_bruger h1 { 
  font-size: 24px;
}

#opret_bruger p {
  font-size: 26px;
  margin: 0;
  padding-left: 2%;
}

#opret_bruger input {
  margin-bottom: 7%;
}

#opret-knap {
  padding: 28%;
}

#opret-knap a {
  border: solid black 1px;
  text-align: center;
  font-size: 50px;
  background-color:#25ff42a6;
  color: white;
  padding: 8%;
  border-radius: 5%;
}

