body {
    margin: 0 auto;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

/* style of footer */
  footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
  }

  button {
    background-color: white;
    border: none;
    border-right: solid black 1px
  }

  footer img {
    max-width: 55px;
    justify-self: center;
  }

  img[alt="profile_icon"]{
    border-left: 1px black solid;
  }

/* index.html styling */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

#right img, #left img {
  max-height: 526px;
  margin-top: 100%;
}

#left {
  background-color: #6adef4;
  height: 1000vh;
}

#right {
  background-color: #83c44e;
  height: 1000vh;
}

#left p, #right p {
  top: 450px;
}

#left p {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  left: 12%;
}

#right p {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  left: 53%;
}

a {
  text-decoration: none;
}
  
#frontpage_footer img {
  grid-column: 2/3;
  background-color: white;
  border-radius: 19%;
  margin-bottom: 1%;
}
#frontpage_footer {
border-top: 0;
}