/* index.html styling */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#right img, #left img {
    max-height: 526px;
}

#left {
    background-color: #6adef4;
}

#right {
    background-color: #83c44e;
}

#left p {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 26px;
    margin: 0;
    position: absolute;
    top: 34%;
    left: 12%;
}

#right p {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 26px;
    margin: 0;
    position: absolute;
    top: 34%;
    left: 53%;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
  }

